<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="app">

        <header class="encab">
            <img src="../img/tienda/logo.png" alt="" class="logo-pag">
            <div class="opciones-encab">
                <a href="/carro" class="car"><img src="../img/tienda/car.png" alt=""></a>
                <p class="carritonum"></p>
                <a href="" class="search"><img src="../img/tienda/buscar.png" alt=""></a>
            </div>

        </header>

        <div class="lista-carrito">


        </div>
    </div>

    <script src="/js/tienda.js"></script>

</body>

</html>