<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shaft Shop Shopping Car</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Nunito:300,400|Teko" rel="stylesheet">
    <link rel="stylesheet" href="../styles/product.css">
</head>

<body>

    <div class="app">

        <header class="encab">
            <a href="/tienda" class="logo-pag">
                <img src="../img/tienda/logo.png" alt="">
            </a>
            <div class="opciones-encab">
                <div class="car">
                    <p class="car__num"></p>
                    <a href="/carro" class="car__link"><img src="../img/tienda/car.png" alt=""></a>
                </div>
                <div class="search">
                    <a href="" class="search__link"><img src="../img/tienda/buscar.png" alt=""></a>
                </div>
            </div>

        </header>

        {{#if mensaje}}

        <h3 class="pedido">¡Pedido Enviado!</h3>

        {{/if}}

        <section class="cartinfo">

            <div class="cartinfo__contTitle">
                <h1 class="cartinfo__title">Shopping Cart</h1>
            </div>

            <div class="cartinfo__titles">
                <h4>Products</h4>
                <h4>Quantity</h4>
                <h4 class="title_price">Price</h4>
            </div>
            <div class="car-list">


            </div>
            <div class="total-space">
                <div class="total-container">
                    <h2 class="total__title">TOTAL :</h2>
                    <h4 id="total">0</h4>

                </div>

            </div>


        </section>

        <section class="checkout">
            <div class="checkout__content">


                <div class="checkout__form">

                    <form action="/pedido" method="POST" class="checkout__container">

                        <input id="inputTotal" style="display: none;" value="0" class="espacio-email checkout__space"
                            name="total" type="number">

                        <div class="checkout__contTitle">
                            <h1 class="checkout__titulo">Checkout</h1>
                        </div>
                        <div class="checkout__contElement">
                            <label class="checkout__title">Full Name</label>
                            <input class="espacio-name checkout__space" type="text" name="name" id="">

                        </div>
                        <div class="checkout__contElement">
                            <label class="checkout__title">E-mail</label>
                            <input class="espacio-email checkout__space" name="email" type="email">
                        </div>

                        <div class="checkout__contElement">
                            <p class="checkout__title">Shipping Address</p>
                            <div class="checkout__contElement">
                                <div class="address__ubication">
                                    <div class="address__ub">
                                        <label class="address__title">Country</label>
                                        <input class="espacio-pais checkout__space" name="pais" type="text">

                                    </div>
                                    <div class="address__ub">
                                        <label class="address__title">City</label>
                                        <input class="espacio-ciudad checkout__space" name="ciudad" type="text">
                                    </div>
                                </div>
                                <label class="address__title">Home Address</label>
                                <input class="espacio-homeaddress checkout__space" name="dir" type="text">
                            </div>
                        </div>
                        <button class="checkout__btn">Send</button>
                    </form>
                </div>


            </div>


        </section>


    </div>
    <footer class="footer">

        <div class="footer__content">
            <img class="footer__redes" src="./img/redes.png" alt="">
            <div class="footer__links">
                <h4 class="footer__link">About us</h4>
                <h4 class="footer__link">Top Works</h4>
                <h4 class="footer__link">Contact us</h4>
                <h4 class="footer__link">Shop</h4>
            </div>
        </div>


    </footer>
    <script src="/js/tienda.js"></script>

</body>

</html>