<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

     <header class="encab">
        <a href="" class="profile"></a>
        <a href="" class="car"></a>
        <a href="" class="search"></a>
        <img src="" alt="" class="logo">

    </header>

  <section class="producto">
<img src="{{imagen}}" alt="" class="producto__imagen">

<h2 class="producto__nombre">{{nombre}}</h2>
<p class="producto__descrip">{{descripcion}}</p>
<a href="" class="producto__btn"></a>


  </section>

 
</body>

</html>