<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
     <header class="encab">
        <a href="" class="profile"></a>
        <a href="" class="car"></a>
        <a href="" class="search"></a>
        <img src="" alt="" class="logo">

    </header>

    <section class="categories">
        <h1 class="categories__title">Categories</h1>
        <a href="" class="shirts"></a>
        <a href="" class="blurays"></a>
        <a href="" class="posters"></a>
    </section>

     <section class="series">
        <h1 class="series__title">By Series</h1>
        <a href="" class="shirts"></a>
        <a href="" class="blurays"></a>
        <a href="" class="posters"></a>
    </section>
    

    <section class="list">

        <h1 class="list__title">Product List</h1>
        <h4>sort by</h4>



        <div class="producto-item">
            <img src="{{imagen}}" alt="" class="producto-item__imagen">
            <p class="producto-item__nombre">{{nombre}}</p>
            <p class="producto-item__precio">{{precio}}</p>
        </div>

    </section>

     <footer class="footer">

            <div class="footer__content">
                <img class="footer__redes" src="./img/redes.png" alt="">
                <div class="footer__links">
                    <h4 class="footer__link">About us</h4>
                    <h4 class="footer__link">Top Works</h4>
                    <h4 class="footer__link">Contact us</h4>
                    <h4 class="footer__link">Shop</h4>
                </div>
            </div>


        </footer>
</body>
</html>