* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encab {
  background: #EF7F7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 530px;
      flex-basis: 530px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.encab__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.encab__logo-contParallax {
  position: absolute;
  left: -230px;
  top: -30px;
  width: 255.67px;
  height: 344.71px;
}

.encab__img1 {
  width: 100%;
  height: 100%;
}

.encab__img2 {
  width: 452px;
  height: 105px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.encab__link {
  text-decoration: none;
  margin-right: 25px;
  font-family: "Teko", sans-serif;
  color: #2d2d2d;
  font-size: 24px;
}

.encab__link:before {
  background: #2d2d2d;
  height: 3px;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landing__content {
  margin-top: 450px;
  position: absolute;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 70%;
  height: 450px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.landing__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #898787;
}

.landing__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__name {
  font-family: "Nunito", sans-serif;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.landing__btn {
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
  background-color: #BFEC4A;
  padding: 6px 10px;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.landing__btn:hover {
  background-color: #e0f6a6;
}

.landing__img {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__img__2 {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__img__2__1 {
  margin-bottom: 15px;
  height: 128.84px;
}

.landing__img__2__2 {
  height: 128.84px;
}

.landing__img__1 {
  height: 275.57px;
}

.about-us {
  background: #EF7F7B;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__content {
  width: 70%;
  height: 500px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-us__contTitle {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-us__contTitle::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-us__title {
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #fafafa;
}

.about-us__swiperContainer {
  width: 100%;
  height: 450px;
  position: relative;
}

.about-us__wrapper {
  width: 100%;
  height: 100%;
}

.about-us__slide {
  width: 100%;
  height: 100%;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.about-us__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
}

.about-us__content1__cont__titulo {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #fafafa;
  letter-spacing: 0.08em;
}

.about-us__content1__cont::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-us__content1__txt {
  padding-top: 10px;
  font-family: "Nunito", sans-serif;
  text-align: left;
  letter-spacing: 0.08em;
  font-size: 15px;
  font-weight: 300;
  color: #fafafa;
}

.about-us__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.about-us__content2__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__content2__cont__titulo {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #fafafa;
  letter-spacing: 0.08em;
  text-align: center;
}

.about-us__content2__cont::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-us__content2__txt {
  padding-top: 10px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 15px;
  font-weight: 300;
  color: #fafafa;
  padding-right: 20px;
}

.about-us__content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 400px;
}

.about-us__content3__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-us__content3__cont__titulo {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #fafafa;
  letter-spacing: 0.08em;
  text-align: center;
}

.about-us__content3__cont::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-us__content3__txt {
  padding-top: 10px;
  font-family: "Nunito", sans-serif;
  text-align: right;
  letter-spacing: 0.08em;
  font-size: 15px;
  font-weight: 300;
  color: #fafafa;
}

.about-us .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fafafa;
}

.inter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 50px;
}

.inter__title::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.inter__titulo {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #2d2d2d;
  letter-spacing: 0.08em;
  text-align: center;
}

.inter__text {
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.inter .canvas {
  margin-bottom: 150px;
}

.events {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-bottom: 100px;
}

.events__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 100px;
}

.events__title::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.events__titulo {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #2d2d2d;
  letter-spacing: 0.08em;
  text-align: center;
}

.events__contEventos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.events__wrapper {
  width: 95%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.events__evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.events__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.events__tituloEvento {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #2d2d2d;
  letter-spacing: 0.08em;
}

.events__fecha {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  color: #898787;
  letter-spacing: 0.08em;
}

.events__descrip {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #2d2d2d;
  letter-spacing: 0.08em;
  margin-top: 15px;
}

.events__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 15px;
}

.events__link::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: #EF7F7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.events__Go {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  color: #EF7F7B;
  letter-spacing: 0.08em;
  text-align: left;
  text-decoration: none;
}

.events__img {
  width: 50%;
}

.events .swiper-pagination {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: auto;
}

.events .swiper-pagination-bullet-active {
  opacity: 1;
  background: #EF7F7B;
}

.top-works {
  width: 70%;
  height: auto;
  padding-bottom: 100px;
}

.top-works__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 100px;
}

.top-works__title::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-works__titulo {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #2d2d2d;
  letter-spacing: 0.08em;
  text-align: center;
}

.top-works__container {
  width: 100%;
  margin-top: 50px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-works__list {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-works__serie {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  cursor: pointer;
}

.top-works__serie:before {
  background: #BFEC4A;
}

.top-works__name {
  color: #898787;
  font-family: "Teko", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.08em;
  background: transparent;
}

.top-works__element {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.top-works__element::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #898787;
}

.top-works__element::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #898787;
}

.top-works__year {
  color: #898787;
  font-family: "Teko", sans-serif;
  font-size: 14px;
  letter-spacing: 0.08em;
  margin: 0 15px;
}

.top-works__botones {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: auto;
}

.top-works__botones .top-works__play {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-works__botones .top-works__stop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.top-works__imgBtn {
  width: 15px;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.top-works__imgBtn:hover {
  width: 20px;
}

.top-works__content {
  width: 80%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-works__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-works__song {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  color: #2d2d2d;
  font-family: "Teko", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-works__informacionSerie {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-works__txt {
  width: 50%;
}

.top-works__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-works__title::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-works__titulo {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #2d2d2d;
  letter-spacing: 0.08em;
  text-align: center;
  margin-right: 20px;
}

.top-works__descrip {
  width: 100%;
  text-align: justify;
  line-height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 0.08em;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.top-works__gallery {
  width: 40%;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  margin-left: 20px;
}

.top-works__gallery .swiper-pagination-bullet {
  background: #EF7F7B;
  opacity: 0.2;
}

.top-works__gallery .swiper-pagination-bullet-active {
  opacity: 1;
  background: #BFEC4A;
}

.top-works__wrapper {
  width: 100%;
  height: 100%;
}

.contact-us {
  background: #EF7F7B;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.contact-us__title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.contact-us__titulo {
  text-align: left;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #fafafa;
}

.contact-us__titulo::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contact-us__write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-us__img {
  width: 180px;
  height: 252px;
  margin-right: 10px;
}

.contact-us__form {
  width: 326px;
  height: 277px;
  position: relative;
}

.contact-us__content {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  position: absolute;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  bottom: -50px;
}

.contact-us__email {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #2d2d2d;
}

.contact-us__espacio-email {
  margin-top: 5px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #2d2d2d;
  background-color: #fafafa;
}

.contact-us__message {
  margin-top: 20px;
}

.contact-us__msg {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #2d2d2d;
}

.contact-us__espacio-msg {
  margin-top: 5px;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90.44px;
  background-color: #fafafa;
}

.contact-us__btn {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  background-color: #BFEC4A;
  padding: 6px 10px;
  width: 84px;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.contact-us__btn:hover {
  background-color: #e0f6a6;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer__redes {
  width: 20px;
  height: 84px;
}

.footer__link {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #898787;
}

@media (max-width: 900px) {
  .landing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 500px;
  }
  .landing__txt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__titulo {
    font-size: 20px;
    margin-bottom: 0;
  }
  .landing__shop {
    margin-left: 60px;
  }
  .landing__name {
    margin-bottom: 0;
  }
  .landing__btn {
    margin-left: 20px;
  }
  .landing__img {
    margin-top: 10px;
    margin-left: 0;
    height: 60%;
  }
  .landing__img__2__1 {
    margin-bottom: 15px;
    height: 128.84px;
  }
  .landing__img__2__2 {
    height: 128.84px;
  }
  .landing__img__1 {
    height: 275.57px;
  }
  .top-works__descrip {
    font-size: 9px;
  }
  .events__contEventos {
    height: 600px;
  }
  .events__slide {
    height: 600px;
  }
  .events__evento {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 15px;
  }
  .events__txt {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .landing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 500px;
  }
  .landing__txt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__titulo {
    font-size: 20px;
    margin-bottom: 0;
  }
  .landing__shop {
    margin-left: 60px;
  }
  .landing__name {
    margin-bottom: 0;
  }
  .landing__btn {
    margin-left: 20px;
  }
  .landing__img {
    margin-top: 10px;
    margin-left: 0;
    height: 60%;
  }
  .landing__img__2__1 {
    margin-bottom: 15px;
    height: 128.84px;
  }
  .landing__img__2__2 {
    height: 128.84px;
  }
  .landing__img__1 {
    height: 275.57px;
  }
  .top-works__descrip {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .app .encab__logo-contParallax {
    display: none;
  }
  .app .encab__img2 {
    width: 300px;
    height: auto;
  }
  .app .landing__content {
    width: 100%;
  }
  .app .landing_img {
    width: 200px;
  }
  .app .landing_img__2 {
    width: 80px;
  }
  .app .landing__img__1 {
    width: 50%;
  }
  .app .top-works {
    padding-bottom: 40px;
  }
  .app .top-works__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .app .top-works__list {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: auto;
  }
  .app .top-works__element {
    width: 120px;
    padding: 25px 0;
  }
  .app .top-works__element::before {
    width: 15px;
  }
  .app .top-works__element::after {
    width: 15px;
  }
  .app .top-works__serie {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .app .top-works__content {
    margin-top: 20px;
    width: 100%;
  }
  .app .top-works__informacionSerie {
    width: 100%;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .top-works__txt {
    width: 100%;
  }
  .app .top-works__gallery {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .app .contact-us {
    height: auto;
    padding-top: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .app .contact-us__container {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .app .contact-us__img {
    display: none;
  }
  .app .contact-us__write {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .app .contact-us__content {
    bottom: -10px;
  }
}
/*# sourceMappingURL=main.css.map */