$margen: 70%;

$mainColor: #EF7F7B;
$greenColor: #BFEC4A;
$whiteColor: rgb(250, 250, 250);
$blackColor: rgb(45, 45, 45);
$grayColor: #898787;

$secondFont: 'Montserrat',
sans-serif;
$mainFont: 'Teko',
sans-serif;
$thirdFont: 'Nunito',
sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    background: $whiteColor;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
}

.encab {
  
   position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
    width: $margen;
    justify-content: center;

    .logo-pag {
        align-self: center;
        width: 228.99px;
    }

    .opciones-encab {
        width: 100px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-end;
    }
    .car{
        width:100%;
        margin-bottom:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        &__num{
           
            font-family: $thirdFont;
            font-size: 30px;
            color: $grayColor;
            
            
        }

        &__link{
        >img{
          width:100%;
        }
    }
        
    }
    .search{
        width:80%;
        margin-bottom:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
       

        &__link{
        >img{
          width:100%;
        }
    }
    }
}



.categories {
    background: $whiteColor;
    width: 100%;
    display: flex;
    height: auto;
    flex-shrink: 0;
    padding-top: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__content {
        width: $margen;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    &__contTitle {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        &::after {
            content: '';
            width: 50px;
            height: 3px;
            background-color: $blackColor;
            display: flex;
            flex-shrink: 0;
        }
    }

    &__title {
        text-align: right;
        font-family: $mainFont;
        font-size: 30px;
        letter-spacing: 0.08em;
        color: $blackColor;
    }

    &__opciones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: flex-end;
        width: 100%;
        margin-top: 20px;
    }

    &__opcion {

        position: relative;

        background: $mainColor;
        width: 260px;
        height: 120px;
        margin-right: 20px;
        text-decoration: none;
        font-family: $secondFont;
        color: $blackColor;
        cursor: pointer;

        >h3 {
            position: absolute;
            bottom: 15px;
            left: 15px;
            font-weight: 400;
        }
    }

    .books {
        margin-right: 0;
    }
}

.series {
    background: $whiteColor;
    width: 100%;
    display: flex;
    height: auto;
    flex-shrink: 0;
    padding-top: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__content {
        width: $margen;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    &__contTitle {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;

        &::after {
            content: '';
            width: 50px;
            height: 3px;
            background-color: $blackColor;
            display: flex;
            flex-shrink: 0;
        }
    }

    &__title {
        text-align: right;
        font-family: $mainFont;
        font-size: 30px;
        letter-spacing: 0.08em;
        color: $blackColor;
    }

    &__opciones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: flex-end;
        width: 100%;
        margin-top: 20px;
    }

    &__opcion {
        position: relative;
        background: $mainColor;
        width: 260px;
        height: 120px;
        margin-right: 20px;
        text-decoration: none;
        font-family: $secondFont;
        color: $blackColor;
        cursor: pointer;

        >h3 {
            position: absolute;
            bottom: 15px;
            left: 15px;
            font-weight: 400;
        }
    }

    .mono {
        margin-right: 0;
    }

}

.list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    background: $whiteColor;
    width: $margen;
    height: auto;
    flex-shrink: 0;

    &__contTitle {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        &::after {
            content: '';
            width: 50px;
            height: 3px;
            background-color: $blackColor;
            display: flex;
            flex-shrink: 0;
        }
    }

    &__title {
        text-align: right;
        font-family: $mainFont;
        font-size: 30px;
        letter-spacing: 0.08em;
        color: $blackColor;
    }

    >h4{
        font-family: $thirdFont;
        font-size: 14px;
        margin-top:20px;
        font-weight: 400;
    }
    &__productos {
        margin-top:110px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
       
    }

    .producto {
        
        flex-shrink: 0;
        width: 240px;
        height: auto;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-content: center;
        align-items: center;

        &__link{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-content: center;
            align-items: center;
            text-decoration: none;
            color: $blackColor;
            padding: 15px ;
            &:before {
                background: $greenColor;
            }
        }

        &__imagen{
            width:80%;
            height:300px;
            background: #898787;
            margin-bottom:20px;
           >img{
             width:100%;
             height:230px;
            }
        }

        &__nombre{
            font-family: $thirdFont;
            font-size: 14px;
           font-weight: 300;
           text-align: center;
        

        }

        &__precio{
            font-family: $thirdFont;
            font-size: 16px;
           padding-top:20px;
           font-weight: 800;

        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 250px;

    &__content {
        display: flex;
        width: $margen;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: space-between;


    }

    &__redes {
        width: 20px;
        height: 84px;
    }

    &__link {
        font-family: $mainFont;
        font-size: 16px;
        text-align: right;
        letter-spacing: 0.08em;
        font-weight: 300;
        color: $grayColor;
    }


}