* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.encab .logo-pag {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 228.99px;
}

.encab .logo-pag > img {
  width: 100%;
  height: 100%;
}

.encab .opciones-encab {
  width: 100px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.encab .car {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encab .car__num {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #898787;
}

.encab .car__link > img {
  width: 100%;
}

.encab .search {
  width: 80%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.encab .search__link > img {
  width: 100%;
}

.categories {
  background: #fafafa;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.categories__contTitle {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.categories__contTitle::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.categories__title {
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #2d2d2d;
}

.categories__opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.categories__opcion {
  position: relative;
  background: #EF7F7B;
  width: 260px;
  height: 120px;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  cursor: pointer;
}

.categories__opcion > h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: 400;
}

.categories .books {
  margin-right: 0;
}

.series {
  background: #fafafa;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.series__content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.series__contTitle {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.series__contTitle::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.series__title {
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #2d2d2d;
}

.series__opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.series__opcion {
  position: relative;
  background: #EF7F7B;
  width: 260px;
  height: 120px;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  cursor: pointer;
}

.series__opcion > h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: 400;
}

.series .mono {
  margin-right: 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background: #fafafa;
  width: 70%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.list__contTitle {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__contTitle::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.list__title {
  text-align: right;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #2d2d2d;
}

.list .allproducts {
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #2d2d2d;
}

.list .allproducts:hover {
  color: #EF7F7B;
}

.list > h4 {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
}

.list_orden {
  margin-top: 20px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_orden .orden__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 70px;
}

.list_orden .orden__item > p {
  font-family: "Teko", sans-serif;
  font-size: 20px;
}

.list_orden .orden__item .orden_alfabet {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #2d2d2d;
}

.list_orden .orden__item .orden_alfabet:hover {
  color: #EF7F7B;
}

.list_orden .orden__item .item-maslargo {
  width: 400px;
}

.list_orden .orden__item .precio-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list_orden .orden__item .inputPrecio {
  margin-top: 5px;
  width: 80%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.list_orden .orden__item .inputPrecio:hover {
  opacity: 1;
}

.list_orden .orden__item .colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list_orden .orden__item .color > div {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.list__productos {
  margin-top: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.list .producto {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 240px;
  height: auto;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .producto__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #2d2d2d;
  padding: 15px;
}

.list .producto__link:before {
  background: #BFEC4A;
}

.list .producto__imagen {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.list .producto__imagen > img {
  width: 100%;
  height: 230px;
}

.list .producto__nombre {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  height: 50px;
}

.list .producto__precio {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  font-weight: 800;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  background: #fafafa;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer__redes {
  width: 20px;
  height: 84px;
}

.footer__link {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #898787;
}

@media (max-width: 500px) {
  .encab .opciones-encab {
    height: 200px;
    position: absolute;
    right: 120px;
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .categories__opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .categories__opcion {
    position: relative;
    background: #EF7F7B;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #2d2d2d;
    cursor: pointer;
    margin-right: 0;
  }
  .series__opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .series__opcion {
    position: relative;
    background: #EF7F7B;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #2d2d2d;
    cursor: pointer;
    margin-right: 0;
  }
  .series__opcion > h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-weight: 400;
  }
  .list__productos {
    margin-top: 110px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .list .producto {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 240px;
    height: auto;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list_orden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list_orden .orden__item {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=tienda.css.map */